/*.container {
  background-color:rgb(230, 175, 109);
  border-color: brown;
  }*/
.color{
background-color: aqua;

}

.btn {
    position: absolute;
    padding: 11px 5px;
    border-radius: 50%;
    border: none;
    top: 30px;
    left: 50%;
    color: #fff;
    background-color: blue;
    outline: none;
    text-transform: capitalize;
    font-size: 10px;
    transition: 0.3s ease all;
    /*transform: translate(-50%);*/
   
  }
  
  .win {
    background-color: green;
  }

  .winw {
    background-color: rgb(32, 143, 134);
  }
  
  .faill {
    background-color: red;
  }
  .faillw {
    background-color: rgb(238, 51, 126);
  }
  .dangerw {
    background-color: rgb(219, 222, 39);
  }
  .danger {
    background-color: brown;
  }
  
  .atention {
    background-color: yellowgreen;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .red {
    background-color: red;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .gray {
    background-color: gray;
  }
  
  .black {
    background-color: black;
  }
  
  /* .list__item {
      transition: 1s;
  } */
  
  /* .change {
      color: red;
      font-size: 50px;
      font-weight: 700;
  }
  .hide {
      display: none;
  } */